.button {
  background-color: #5877e7;
}

.button:hover {
  cursor: pointer;
  background-color: #5877e7ba;
}

.button:active {
  background-color: #5877e7;
}

.button_disabled {
  pointer-events: none;
  background-color: #7fc1ff;
}

.button_action_add {
  padding: 12px 16px;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
  font-family: Inter, Arial, sans-serif;
  color: #fdfdfd;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  background-color: #5877e7;
  border: none;
}
.button_action_add:hover {
  background-color: #5877e7ba;
}

@media screen and (max-width: 630px) {
  .button_action_add {
    font-size: 16px;
  }
}
